.leftContent {
  z-index: 1;
  position: fixed;
  left: 0;
  width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(49,211,213,.2);
  .energyCalc{
    flex: 1;
    height: initial;
    overflow: hidden;
  }
  .installCapacity{
    flex: 1;
    height: initial;
    overflow: hidden;
    // height: 200px;
  }
  .historyElecCalc {
    flex: 1;
    height: initial;
    overflow: hidden;
    // height: 200px;
  }
  .incomeTrendChart {
    flex: 1;
    height: initial;
    overflow: hidden;
    // height: 200px;
  }
}